<section class="blog-detail-page">
    <main class="detail-layout" *ngIf="post">
        <article class="detail-main">
            <h1>{{ post.title }}</h1>

            <p class="detail-date">
                Ngày đăng tải: {{ post.date }}
            </p>

            <img
                class="detail-hero-img"
                [src]="post.image"
                [alt]="post.title"
            >

            <div class="detail-content" [innerHTML]="post.content"></div>
        </article>

        <aside class="detail-sidebar">
            <section class="sidebar-box">
                <h2>Bài mới nhất</h2>

                <a                
                    class="latest-item"
                    *ngFor="let item of latestPosts"
                    [routerLink]="['/blog-detail', item.id]"
                >
                    <img [src]="item.image" [alt]="item.title">

                    <div>
                        <h4>{{ item.title }}</h4>
                        <span>{{ item.date }}</span>
                    </div>
                </a>
            </section>

            <section class="share-box">
                <h2>Chia sẻ bài viết:</h2>


            <button class="facebook-btn" type="button">
                <img src="assets/images/fbook.png" alt="Facebook">
            </button>

                <button class="copy-btn" type="button">
                    Copy link
                </button>
            </section>
        </aside>
    </main>

    <p *ngIf="!post && !loading" style="text-align:center; padding: 60px 0;">
        Không tìm thấy bài viết.
    </p>
</section>