<footer class="footer-1">
    <div class="footer-1-container">
        <a routerLink="/contact">
            <i class="bi bi-telephone"></i>
            Hotline: 0909 477 488
        </a>
        <a routerLink="/delivery-policy">
            <i class="bi bi-truck"></i>
            Chính sách giao hàng
        </a>
        <a routerLink="/return-policy">
            <i class="bi bi-arrow-repeat"></i>
            Chính sách đổi trả
        </a>
        <a routerLink="/privacy-policy">
            <i class="bi bi-shield-check"></i>
            Chính sách bảo mật
        </a>
    </div>
</footer>